$themeBorderRadius: 3px;
$themeBoxShadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);

$mobileXS: 480px;
$mobileS: 576px;
$mobileM: 768px;
$laptop: 992px;
$laptopL: 1200px;
$desktop: 1400px;
$desktopL: 1600px;

//bg
$themecolorBg: #fff; //#f9f9f9;
$themecolorBeigeBg: #faf7f4;
$themecolorDarkBg: #474747;

$themecolorBtnBg: #f5efe6;
$themecolorBtnHoverBg: #e8daca;
$themecolorBtnFocus: #b98980;

$cardcolorBg: #f2f2f2;
$themecolorBlue: #0063cc;
$themecolorBlueDarker: #004db3;

$textcolor: #222;
$linkcolor: $themecolorBlue;
$linkcolorActive: coral;
